:root {
  --logo-text-color: #000000;
  --header-text-color: #212121;
  --header-background-color: #FFFFFF;
  --header-text-mail-tel: #757575;
  --accent-color: #2196F3;
  --team-background-color: #F5F4FA;
  --button-color: #FFFFFF;         
  --button-color-accent: #188CE8;
  --hero-color-text: #FFFFFF;
  --title-text-color: #212121;
  --text-color: #757575;
  --team-background-color: #F5F4FA;
  --footer-background-color: #2F303A ;
  --footer-color-text: #FFFFFF;
  --footer-color-mail-tel: rgba(255, 255, 255, 0.6);
  --footer-logo: #FFFFFF;
  --button-text-color: #212121;
  

}
body {
  font-family: "Roboto", sans-serif;
}

/* хедер */
.header {
  background-color: var(--header-background-color);

}
.logo {
font-family: "Raleway", sans-serif;
font-weight: bold;
font-size: 26px;
line-height: calc(31 / 26);
letter-spacing: 0.03em;
text-decoration: none;
color: var(--logo-text-color);
}

.logo-blue, .footer-logo-blue {
  font-family: "Raleway", sans-serif;
font-weight: bold;
font-size: 26px;
line-height: calc(31 / 26);
letter-spacing: 0.03em;
text-decoration: none;
color: var(--accent-color);
}

.header-link {
font-weight: 500;
font-size: 14px;
line-height: calc(16/12);
letter-spacing: 0.02em;
text-decoration: none;
color: var(--header-text-color);
}

.header-link:hover,
.header-link:focus {
font-weight: 500;
font-size: 14px;
line-height: calc(16 / 14);
letter-spacing: 0.02em;
color: var(--accent-color);
}

.header-link-mail {
font-weight: 500;
font-size: 14px;
line-height: calc(16 / 14);
letter-spacing: 0.02em;
text-decoration: none;
color: var(--header-text-mail-tel);
}
.header-link-mail:hover,
.header-link-mail:focus {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
.active-page {
font-weight: 500;
font-size: 14px;
line-height: calc(16 / 14);
letter-spacing: 0.02em;
color: var(--button-color-accent);
}

/* Герой */

/* задаємо колір фону, щоб було видно заголовок */

.hero {
  background-color: var(--footer-background-color);

}

.hero-title {
font-weight: 900;
font-size: 44px;
line-height: 1.36;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--hero-color-text);

}
.hero-btn {
font-family: inherit;;
font-weight: 700;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.06em;
background-color: var(--accent-color);
color: var(--button-color);
}

.hero-btn:hover,
.hero-btn:focus {
  font-family: inherit;;
font-weight: 700;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.06em;
background-color: var(--button-color-accent);
color: var(--button-color);

}

/* Особенности */

.features-title {
font-weight: 700;
font-size: 14px;
line-height: calc(16 / 14);
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--title-text-color);
}

.features-text {
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--text-color);
}

/* Работа */

.work-title {
font-weight: 700;
font-size: 36px;
line-height: calc(42 / 36);
letter-spacing: 0.03em;
color: var(--title-text-color);
}

/* наша команда */

.team {
  background-color: var(--team-background-color);
}
.team-title {
font-weight: 700;
font-size: 36px;
line-height: calc(42 / 36);
letter-spacing: 0.03em;
color: var(--title-text-color);
}
.team-name {
font-weight: 500;
font-size: 16px;
line-height: calc(19 / 15);
letter-spacing: 0.03em;
color: var(--title-text-color);
}

.team-profession {
font-size: 16px;
line-height: calc(19 / 16);
letter-spacing: 0.03em;
color: var(--text-color);
}

/* футер */

.footer {
  background-color: var(--footer-background-color);

}

.footer-logo {
font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 26px;
line-height: calc(31 / 26);
letter-spacing: 0.03em;
text-decoration: none;
color: var(--footer-logo);
}

.footer-address {
font-style: normal;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
text-decoration: none;
color: var(--footer-color-text);
}

.footer-link-mail {
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
text-decoration: none;
color: var(--footer-color-mail-tel);

}

.footer-link-mail:hover,
.footer-link-mail:focus {
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
text-decoration: none;
color: var(--accent-color);
}

/* портфолио */

.services-btn {
  font-family: inherit;
background-color: var(--accent-color);
font-weight: 500;
font-size: 16px;
line-height: 1.62;
text-align: center;
letter-spacing: 0.03em;
color: var(--button-text-color);
}

.services-btn:hover,
.services-btn:focus {
font-family: inherit;
font-weight: 500;
font-size: 16px;
line-height: 1.62;
text-align: center;
letter-spacing: 0.03em;
color: var(--button-color);
}

.services-title {
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: var(--title-text-color);
}

.services-link {
  text-decoration: none;
}

.services-text {
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.03em;
color: var(--text-color);
}


.list {
  list-style: none;
}
.section {
  padding-top: 94px;
}